.wrap {
  width: 250px;
  height: 250px;
  min-width: 250px;
  background-color: var(--light);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.name {
  height: 50%;
  width: 100%;
  margin-top: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0px 0px 100% 100%;
  color: var(--light);
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: all 0.3s
    cubic-bezier(0.22, 0.63, 0.14, 1.36);
}

.wrap:hover > .name {
  margin-top: 150%;
}