.flex {
  display: flex;
}

.f-1 {
  flex: 1;
}

.f-row {
  flex-direction: row;
}

.f-col {
  flex-direction: column;
}

.o-scroll {
  overflow-y: scroll;
}

.f-w {
  flex-wrap: wrap;
}

.j-c {
  justify-content: center;
}

.j-sb {
  justify-content: space-between;
}

.j-sa {
  justify-content: space-around;
}

.a-c {
  align-items: center;
}

.line {
  border: 1px solid var(--light);
  height: 80%;
  width: 2px;
}
