.page-wrapper {
  height: 92.5vh;
  width: 100%;
  background-color: var(--dark);
}
.page-wrapper h1 {
  color: aliceblue;
  text-align: center;
}

.page-wrapper img{
  border: 2px solid white;
  border-radius: 50%;
}
 