.pop-input-wrapper {
    color: var(--light);
    font-size: 2rem;
}
.pop-input {
  background-color: antiquewhite;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #555;
  display: inline-block;
  font-size: 14px;
  padding: 6px 12px;
  width: 100%;
}
