.nav-wrapper {
  background-color: var(--tertiary);
  color: var(--light);
  height: 6vh;
}

.link-wrapper {
  justify-content: end;
}

.links {
  margin-left: 2vh;
}
.logo{
  margin-top: 6px;
  margin-left: 15px;
}