* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav {
  background-color: #dff6ff;
  display: flex;
  justify-content: space-around;
  height: 6vh;
  font-size: larger;
  color: aliceblue;
  padding: 1%;
}
a {
  text-decoration: none;
}
