@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Shizuru&display=swap');* {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  font-weight: 600;
  font-style: italic;
  box-sizing: border-box;
}
.App{
  border: 5px solid white;
}
nav {
  background-color: #dff6ff;
  display: flex;
  justify-content: space-around;
  height: 6vh;
  font-size: larger;
  color: aliceblue;
  padding: 1%;
}
a {
  text-decoration: none;
}
